{% extends 'base.html.twig' %}

{% block title %}Authentification à deux facteurs{% endblock %}

{% block body %}
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
		<div class="container-fluid">
			<div class="row">
				<!-- left -->
				<div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
					<div class="p-3 p-lg-5">
						<!-- Title -->
						<div class="text-center">
							<h2 class="fw-bold">Eduverse Sécurité</h2>
							<p class="mb-0 h6 fw-light">Authentification renforcée pour protéger vos données.</p>
						</div>
						<!-- SVG Image -->
						<img src="{{ asset('assets/images/element/02.svg') }}" class="mt-5" alt="">
					</div>
				</div>

				<!-- Right -->
				<div class="col-12 col-lg-6 m-auto">
					<div class="row my-5">
						<div class="col-sm-10 col-xl-8 m-auto">
							<h1 class="fs-2">Validation par SMS</h1>
							<p class="lead mb-4">Un code à 6 chiffres a été envoyé sur votre numéro de téléphone. Veuillez le saisir ci-dessous (valable 5 minutes).</p>

							{% if authenticationError %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ authenticationError }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}

							<!-- Form START -->
							<form method="post" action="{{ path('2fa_login_check') }}" novalidate>
								<!-- Code -->
								<div class="mb-4">
									<label for="_auth_code" class="form-label">Code d'authentification *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-key"></i></span>
										<input type="text" id="_auth_code" name="_auth_code" class="form-control border-0 bg-light rounded-end ps-1" autocomplete="one-time-code" autofocus required placeholder="Ex: 123456">
									</div>
								</div>

                                {% if csrf_token('two_factor') is defined %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('two_factor') }}">
                                {% endif %}

								<!-- Button -->
								<div class="align-items-center mt-0">
									<div class="d-grid">
										<button class="btn btn-primary mb-0" type="submit">Valider le code</button>
									</div>
								</div>
							</form>
							<!-- Form END -->

							<!-- Help link -->
							<div class="mt-4 text-center">
								<span>Vous n'avez rien reçu ? <a href="{{ path('app_logout') }}">Retourner à la connexion</a></span>
							</div>
						</div>
					</div> <!-- Row END -->
				</div>
			</div> <!-- Row END -->
		</div>
	</section>
</main>
{% endblock %}
